{{ ansible_managed | comment }}
{% for path in nginx_logrotate_paths %}

{{ path }} {
    {{ nginx_logrotate_period }}
    missingok
    rotate {{ nginx_logrotate_retention }}
    compress
    delaycompress
    notifempty
    create {{ nginx_logrotate_mode }} {{ _nginx_user }} {{ _nginx_group }}
    sharedscripts
    postrotate
        nginx -s reopen
    endscript
}
{% endfor %}
