{# NGINX HTTP Upstream template -- ngx_http_upstream_module #}
{%- macro upstream(data) %}
{%- for server in data.server | default([]) %}
server {{ server.address -}}
  {{- ' weight=' + server.weight | string if server.weight is defined -}}
  {{- ' max_conns=' + server.max_conns | string if server.max_conns is defined -}}
  {{- ' max_fails=' + server.max_fails | string if server.max_fails is defined -}}
  {{- ' fail_timeout=' + server.fail_timeout | string if server.fail_timeout is defined -}}
  {{- ' backup' if server.backup | default(false) -}}
  {{- ' down' if server.down | default(false) }};
{% endfor %}
{%- if data.zone is defined %}
zone {{ data.zone.name }}{{ ' ' + data.zone.size | string if data.zone.size is defined }};
{% endif %}
{%- if data.load_balancing_method == 'hash' and data.hash is defined %}
hash {{ data.hash.key }}{{ ' consistent' if data.hash.consistent | default(false) }};
{% elif data.load_balancing_method == 'ip_hash' %}
ip_hash;
{% elif data.load_balancing_method == 'least_conn' %}
least_conn;
{% elif data.load_balancing_method == 'random' %}
random{% if (data.random | default({})).two is defined -%}
  {{- ' two' -}}
  {{- ' ' + data.random.two.method | string if data.random.two.method is defined -}}
  {%- endif %};
{% endif %}
{%- if data.keepalive is defined %}
keepalive {{ data.keepalive }};
{% endif %}
{%- if data.keepalive_requests is defined %}
keepalive_requests {{ data.keepalive_requests }};
{% endif %}
{%- if data.keepalive_time is defined %}
keepalive_time {{ data.keepalive_time }};
{% endif %}
{%- if data.keepalive_timeout is defined %}
keepalive_timeout {{ data.keepalive_timeout }};
{% endif %}
{% endmacro %}
