{%- from 'mail/core.j2' import core with context -%}
{%- from 'mail/modules.j2' import auth_http with context -%}
{%- from 'mail/proxy.j2' import proxy with context -%}
{%- from 'mail/modules.j2' import realip with context -%}
{%- from 'mail/ssl.j2' import ssl with context -%}
{%- from 'mail/modules.j2' import imap with context -%}
{%- from 'mail/modules.j2' import pop3 with context -%}
{%- from 'mail/modules.j2' import smtp with context -%}

{%- macro server_block(data) %}
server {
{% filter indent(width=4) %}
    {{ core(data, 'server') }}
{{- auth_http(data) }}
{{- proxy(data) }}
{{- realip(data) }}
{{- ssl(data) }}
{{- imap(data) }}
{{- pop3(data) }}
{{- smtp(data) }}
{%- for directive in data.custom_directives | default([]) %}
{{- directive }}
{%- endfor %}
{% endfilter %}
}
{%- endmacro -%}

{{- ansible_managed | comment }}

{{ core(item, 'mail') }}
{{- auth_http(item) }}
{{- proxy(item) }}
{{- realip(item) }}
{{- ssl(item) }}
{{- imap(item) }}
{{- pop3(item) }}
{{- smtp(item) }}
{%- for directive in item.custom_directives | default([]) %}
{{- directive }}
{%- endfor %}
{%- for server in item.server | default([]) %}
{{- server_block(server) }}
{%- endfor %}
