{# NGINX Mail Core -- ngx_mail_core #}
{%- macro core(data, context) %}
{%- if context == 'mail' or
       context == 'server' %}
{%- for log in data.error_log | default([]) %}
error_log {{ log.file }}{{ ' ' + log.level if log.level is defined }};
{%- endfor %}
{%- if data.max_errors is defined %}
max_errors {{ data.max_errors }};
{%- endif %}
{%- if data.resolver is defined %}
{%- if data.resolver.off | default(false) %}
resolver off;
{%- else %}
{%- for resolver in data.resolver.resolvers | default([]) %}
resolver {{ resolver.addresses | join(' ') -}}
         {{- ' valid=' + resolver.valid | string if resolver.valid is defined -}}
         {{- ' ipv4=' + resolver.ipv4 | ternary('on', 'off') if resolver.ipv4 is defined -}}
         {{- ' ipv6=' + resolver.ipv6 | ternary('on', 'off') if resolver.ipv6 is defined -}}
         {{- ' status_zone=' + resolver.status_zone | string if resolver.status_zone is defined }};
{%- endfor %}
{%- endif %}
{%- endif %}
{%- if data.resolver_timeout is defined %}
resolver_timeout {{ data.resolver_timeout }};
{%- endif %}
{%- if data.server_name is defined %}
server_name {{ data.server_name }};
{%- endif %}
{%- if data.timeout is defined %}
timeout {{ data.timeout }};
{%- endif %}
{%- endif %}

{%- if context == 'server' %}
{%- for listen in data.listen | default([]) %}
listen {{ listen.address -}}
       {{- ' ssl' if listen.ssl | default(false) -}}
       {{- ' proxy_protocol' if listen.proxy_protocol | default(false) -}}
       {{- ' backlog=' + listen.backlog | string if listen.backlog is defined -}}
       {{- ' rcvbuf=' + listen.rcvbuf | string if listen.rcvbuf is defined -}}
       {{- ' sndbuf=' + listen.sndbuf | string if listen.sndbuf is defined -}}
       {{- ' bind' if listen.bind | default(false) -}}
       {{- ' ipv6only=' + listen.ipv6only | ternary('on', 'off') if listen.ipv6only is defined -}}
       {%- if listen.so_keepalive is defined -%}
       {%- if listen.so_keepalive.on | default(false) -%}
       {{- ' so_keepalive=on' -}}
       {%- elif listen.so_keepalive.off | default(false) -%}
       {{- ' so_keepalive=off' -}}
       {%- else -%}
       {{- ' so_keepalive=' -}}
       {{- listen.so_keepalive.keepidle if listen.so_keepalive.keepidle is defined -}}
       {{- ':' -}}
       {{- listen.so_keepalive.keepintvl if listen.so_keepalive.keepintvl is defined -}}
       {{- ':' -}}
       {{- listen.so_keepalive.keepcnt if listen.so_keepalive.keepcnt is defined -}}
       {%- endif -%}
       {%- endif %};
{%- endfor %}
{%- if data.protocol is defined %}
protocol {{ data.protocol }};
{%- endif %}
{%- endif %}
{%- endmacro -%}
