{# NGINX Mail Proxy -- ngx_mail_proxy #}
{%- macro proxy(data) %}
{%- if data.proxy_buffer is defined %}
proxy_buffer {{ data.proxy_buffer }};
{%- endif %}
{%- if data.proxy_pass_error_message is defined %}
proxy_pass_error_message {{ data.proxy_pass_error_message | ternary('on', 'off') }};
{%- endif %}
{%- if data.proxy_protocol is defined %}
proxy_protocol {{ data.proxy_protocol | ternary('on', 'off') }};
{%- endif %}
{%- if data.proxy_smtp_auth is defined %}
proxy_smtp_auth {{ data.proxy_smtp_auth | ternary('on', 'off') }};
{%- endif %}
{%- if data.proxy_timeout is defined %}
proxy_timeout {{ data.proxy_timeout }};
{%- endif %}
{%- if data.xclient is defined %}
xclient {{ data.xclient | ternary('on', 'off') }};
{%- endif %}
{%- endmacro -%}
